<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FancyStats</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="css/main.css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="home">
  <%- yield %>
  <%- partial("_analytics") %>
</body>
</html>
